aiohttp
aiortc
av
black[jupyter]==22.3.0
dcargs>=0.2.6
ninja
functorch==0.1.1
h5py>=2.9.0
hydra-colorlog==1.2.0
hydra-core==1.2.0
imageio
ipywidgets>=7.6
jupyterlab==3.3.4
kaleido
matplotlib
mediapy
msgpack
msgpack_numpy
numpy-quaternion
opencv-python
plotly==5.7.0
protobuf==3.20.0
pylint==2.13.4
pytest
python-socketio
tensorboard==2.9.0
torch==1.11.0
torchmetrics[image]==0.8.2
torchtyping
torchvision==0.12.0
tqdm
u-msgpack-python>=2.4.1
wandb
