black[jupyter]==22.3.0
hydra-colorlog
hydra-core
imageio==2.16.1
ipywidgets>=7.6
jupyterlab==3.3.4
kaleido
matplotlib
mediapy
plotly==5.7.0
protobuf==3.20.0
pylint==2.13.4
pytest
tensorboard==2.8.0
torch==1.11.0
torchmetrics[image]==0.8.2
torchtyping
torchvision==0.12.0
tqdm