{
    "user": "{{ FARM_USER }}",
    "task_type": "{{ task_type }}",
    "task_args": {
        "args": "{{ task_args }}"
    },
    "metadata": {
        "_retry": {
            "is_retryable": false
        }
    },
    "task_comment": "{{ task_comment }}"
}