.WebRTCVideo {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.WebRTCVideo-video {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.canvas-container-main {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.canvas-container-main canvas {
  position: relative;
  height: 100%;
  width: 100%;
}
